@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #1d2129;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #1d2129;
        --foreground: #ffffff;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}
